# .env.example - add your details here and rename file to .env
# DO NOT COMMIT THIS FILE AFTER RENAMING
# ADD THIS FILE TO A .gitignore FILE!!
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=